*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


/* Start CSS */

.fr-header {
  padding: 15px 0;
}

.fr-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.fr-header .navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav.navbar > a {
  max-width: 147px;
}

nav.navbar > a > img {
    vertical-align: middle;
}

.navbar-collapse {
  width: calc(100% - 147px);
  display: flex;
  justify-content: flex-end;
}

.fr-navbar,
.fr-footer__navbar {
  list-style: none !important;
  margin: 0 !important;
  padding: 0;
  display: flex;
  align-items: center;
}

.fr-navbar li:not(:last-child),
.fr-footer__navbar li:not(:last-child) {
  margin-right: 55px;
}

.fr-navbar li.last-menu-item {
  margin-left: 45px;
}

.fr-navbar li a,
.fr-footer__navbar a {
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #174B43;
}

.fr-navbar li a:hover,
.fr-footer__navbar a:hover {
  color: #009145;
  text-decoration: none;
}

.fr-navbar li.last-menu-item a {
  display: inline-block;
  font-size: 16px;
  background-color: #009145;
  color: #fff;
  border-radius: 5px;
  padding: 7px 15px;
}

.fr-navbar li.last-menu-item a:hover {
  background-color: #174B43;
}

.navbar-toggler-icon {
  position: relative;
  width: 34px;
  height: 4px;
  display: block;
  border: 0;
  color: #009145;
  background-color: #009145;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar-toggler {
  display: block;
  padding: 18px 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  position: absolute;
  content: "";
  width: 34px;
  left: 0;
  height: 4px;
  background-color: #009145;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler-icon::after {
  top: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar-toggler:hover .navbar-toggler-icon::after,
.navbar-toggler.is-active .navbar-toggler-icon::after {
  width: 35px;
}

.is-active .navbar-toggler-icon {
  background-color: transparent;
}

.is-active .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.is-active .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

span.navbar-toggler-text {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #174B43;
  display: block;
  margin-top: 15px;
  margin-left: -5.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

.fr-hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

.fr-hero::before,
.fr-hero::after {
  position: absolute;
  content: "";
  z-index: 0;
}

.fr-hero::before {
  left: -116px;
  top: -228px;
  width: 470px;
  height: 470px;
  background-color: #99D3B5;
  border-radius: 50%;
}

.fr-hero::after {
  width: 210px;
  height: 210px;
  background-color: #CCE9DA;
  right: 15px;
  top: 0;
}

.fr-hero .fr-container {
  position: relative;
  padding-top: 80px;
}

.fr-hero__bg-image {
  background-position: right 15px top 80px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fr-hero h1 {
  font-family: 'Jost', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 120px;
  color: #174B43;
  margin: 0;
  position: relative;
  z-index: 2;
}

.fr-hero h1 span {
  display: block;
  font-size: 60px;
  line-height: 90px;
}

.fr-hero p {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #707070;
  max-width: 600px;
  margin: 22px 0 54px;
  position: relative;
  z-index: 2;
}

.fr-hero p strong {
  font-weight: 700;
}

.fr-hero__footer {
  display: flex;
  position: relative;
  z-index: 2;
}

.fr-hero__form {
  margin-right: 30px;
}

.fr-hero__btn a {
  line-height: 1.4;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.fr-hero__form input {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 16px 26px;
  margin-bottom: 16px;
}

.fr-hero__footer input:focus {
  border: 1px solid #707070;
}

.fr-hero__form button,
.fr-hire__content .hire-btn,
.fr-portfolio__content a,
.fr-welcome__content a {
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 700;
  background-color: #009145;
  border: 1px solid #009145;
  color: #fff;
  border-radius: 5px;
  padding: 15px 26px;
  text-align: center;
}

.fr-hero__form button {
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.fr-hero__form button:hover,
.fr-hire__content .hire-btn:hover {
  background-color: #fff;
  border-color: #707070;
  color: #707070;
  text-decoration: none;
}

.fr-hero__thumbs {
  display: flex;
}

.fr-hero__thumbs img:first-child {
  margin-right: 15px;
}

.fr-hire {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-bottom: 55px;
}

.fr-hire::after {
  position: absolute;
  content: "";
  width: 510px;
  height: 510px;
  background-color: #E5F4EC;
  border-radius: 50%;
  right: -107px;
  top: -100px;
  z-index: 0;
}

.fr-hire__left {
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.29);
  position: relative;
  margin-right: 130px;
}

.fr-hire__left img {
  position: relative;
  z-index: 1;
  vertical-align: middle;
}

.fr-hire__left::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 246px;
  background-color: #99D3B5;
  right: -55px;
  bottom: -55px;
  z-index: 0;
}

.fr-hire__content {
    position: relative;
    z-index: 1;
}

.fr-hire__content h2 {
  font-family: 'Jost', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  color: #009145;
  max-width: 600px;
  margin: 70px 0 0;
}

.fr-hire__content p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #707070;
  max-width: 550px;
  margin: 33px 0 43px;
}

.fr-hire__content .hire-btn,
.fr-portfolio__content a {
  display: inline-block;
  line-height: 1.4;
  padding: 14px 102px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.fr-portfolio__content a:hover {
  color: #fff;
  text-decoration: none;
}

.fr-services {
  padding: 70px 0;
}

.fr-services .fr-container {
  max-width: 1220px;
}

.fr-services__heading h2,
.fr-services__single h3,
.fr-portfolio__content h2,
.fr-testimonial h2,
.fr-contact__content h2,
.fr-welcome__content h1,
.fr-welcome__form-block span,
.fr-welcome__form-block h2 {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.fr-services__heading h2 {
  font-size: 42px;
  color: #174B43;
}

.fr-services__heading {
  text-align: center;
}

.fr-services__heading p,
.fr-services__single p,
.fr-portfolio__content p,
.fr-testimonial__single p,
.fr-testimonial__single span,
.fr-contact__content p,
.fr-welcome__content p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 30px;
  color: #707070;
  margin: 0;
}

.fr-services__heading p {
  font-size: 20px;
  margin: 10px 0 24px;
}

.fr-services__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px;
}

.fr-services__single {
  flex: 0 0 calc(33.333333% - 80px);
  margin: 0 40px;
  text-align: center;
}

.fr-services__single h3 {
  font-size: 30px;
  color: #009145;
  margin: 13px 0 15px;
}

.fr-services__single p {
  font-size: 18px;
  text-align: left;
}

.fr-portfolio {
  background-color: #174B43;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

.fr-portfolio .fr-container {
  position: relative;
}

.fr-portfolio__content {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 358px;
}

.fr-portfolio__content h2 {
  font-size: 50px;
  color: #fff;
  margin-top: 70px;
}

.fr-portfolio__content p {
  font-size: 18px;
  color: #fff;
  margin: 20px 0 30px;
}

fr-portfolio__content {
  position: relative;
}

.fr-portfolio__icon-top,
.fr-portfolio__icon-bottom {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
}

.fr-portfolio__icon-top {
  right: 40px;
  top: 40px;
  width: 344px;
  height: 345px;
}

.fr-portfolio__icon-bottom {
  width: 306px;
  height: 307px;
  left: 30px;
  bottom: 40px;
}

.fr-portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  float: right;
  max-width: 984px;
  margin: 0 -7.5px;
}

.fr-portfolio__gallery-single:nth-child(1) {
  flex: 0 0 100%;
  padding-left: 140px;
}

.fr-portfolio__gallery-single:nth-child(2),
.fr-portfolio__gallery-single:nth-child(3) {
  flex: 0 0 50%;
}

.fr-portfolio__gallery-single {
  padding: 0 7.5px;
  margin-bottom: 15px;
  text-align: left;
}

.fr-portfolio__gallery-single:nth-child(2) img,
.fr-portfolio__gallery-single:nth-child(3) img {
  width: 100%;
  height: 100% !important;
}

.fr-testimonial {
  margin: 90px 0 180px;
  position: relative;
}

.fr-testimonial::after {
  position: absolute;
  content: "";
  width: 470px;
  height: 470px;
  background-color: #E5F4EC;
  border-radius: 50%;
  right: -70px;
  top: -225px;
  z-index: 0;
}

.fr-testimonial h2 {
  font-size: 50px;
  color: #174B43;
  padding-bottom: 65px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.fr-testimonial__single {
  background-color: #009145;
  border-radius: 100px;
  margin: 0 10px;
  padding: 45px 80px 30px;
  position: relative;
}

.fr-testimonial__single::after {
  position: absolute;
  content: "";
  left: 80px;
  bottom: -50px;
  border-top: 52px solid #009145;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
}

.fr-testimonial__single p {
  font-size: 29px;
  line-height: 38px;
  color: #fff;
  padding-bottom: 45px;
}

.fr-testimonial__single span {
  font-size: 22px;
  color: #fff;
}

.fr-testimonial__info {
  position: relative;
  z-index: 1;
}

.fr-testimonial__info::before {
  position: absolute;
  content: "";
  width: 245px;
  height: 245px;
  background-color: #CCE9DA;
  border-radius: 50%;
  left: -170px;
  bottom: 30px;
}

.fr-testimonial__info .slick-list {
  padding-bottom: 52px;
}

.fr-testimonial__info .slick-prev.slick-arrow,
.fr-testimonial__info .slick-next.slick-arrow {
  position: absolute;
  top: calc(50% - 40px);
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  box-shadow: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}

.fr-testimonial__info .slick-prev.slick-arrow {
  left: -60px;
}

.fr-testimonial__info .slick-next.slick-arrow {
  right: -60px;
}

.fr-testimonial__info .slick-prev.slick-arrow::before,
.fr-testimonial__info .slick-next.slick-arrow::before {
  position: absolute;
  content: "";
  border-top: 6px solid #00AD74;
  border-left: 6px solid #00AD74;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  width: 28px;
  height: 28px;
  top: 10px;
}

.fr-testimonial__info .slick-prev.slick-arrow::after,
.fr-testimonial__info .slick-next.slick-arrow::after {
    background-color: transparent;
}

.fr-testimonial__info .slick-prev.slick-arrow::before {
  left: 18px;
  transform: rotate(-45deg);
}

.fr-testimonial__info .slick-next.slick-arrow::before {
  left: 0;
  transform: rotate(135deg);
}

.fr-contact {
  background-color: #E6E6E6;
  padding: 75px 0 50px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.fr-contact__info {
  display: flex;
  margin: 0 -15px;
}

.fr-contact__content,
.fr-contact__form {
  flex: 0 0 50%;
  padding: 0 15px;
}

.fr-contact__content h2 {
  font-size: 80px;
  color: #009145;
  margin-top: -12px;
}

.fr-contact__content p {
  font-size: 20px;
  max-width: 420px;
  padding: 12px 0 30px 0;
}

.fr-contact__content img {
  border-radius: 50%;
}

.fr-contact__form-block {
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  padding: 44px 34px;
  text-align: center;
}

.fr-contact__form-block input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 62px;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 36px;
  padding: 15px;
  font-size: 18px;
}

.fr-contact__form-block button {
  font-family: 'Jost', sans-serif;
  font-size: 22px;
  font-weight: 700;
  background-color: #009145;
  border-radius: 5px;
  border: 1px solid #009145;
  color: #fff;
  height: 62px;
  max-width: 317px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.fr-footer p {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  margin: 25px 20px;
}

.fr-footer p a {
  color: #707070;
  text-decoration: underline;
}

.fr-welcome {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0;
}

.fr-welcome__info {
  display: flex;
}

.fr-welcome__content,
.fr-welcome__form {
  flex: 0 0 50%;
}

.fr-welcome__content h1 {
  font-size: 55px;
  line-height: 60px;
  color: #174B43;
  padding-top: 50px;
}

.fr-welcome__content p {
  font-size: 22px;
  line-height: 33px;
  padding: 35px 0 24px;
  max-width: 460px;
}

.fr-welcome__content a {
  display: inline-block;
  max-width: 317px;
  width: 100%;
}

.fr-welcome__content a:hover {
  color: #fff;
  text-decoration: none;
}

.fr-welcome__form-block {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 20px 30px 30px;
}

.fr-welcome__form-block span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #174B43;
  float: right;
}

.fr-welcome__form-block span img {
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.fr-welcome__form-block h2 {
  font-size: 34px;
  line-height: 1;
  color: #174B43;
  text-align: center;
  clear: both;
  padding: 16px 0 22px;
  max-width: 400px;
}

.fr-portfolio__grid .fr-portfolio__content h2 {
  margin-top: 42px;
  text-align: center;
}

.fr-portfolio__grid .fr-portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  float: none;
  margin: 40px 0;
  max-width: 100%;
  width: 100%;
}

.fr-portfolio__grid .fr-portfolio__gallery .fr-portfolio__gallery-single {
  flex: 0 0 33.333333%;
  width: 33.333333%;
  padding: 5px;
  margin-bottom: 0;
}

.fr-portfolio__grid .fr-portfolio__gallery .fr-portfolio__gallery-single img {
  height: 100% !important;
}

.fr-portfolio.fr-portfolio__grid {
  padding-bottom: 75px;
}

.fr-portfolio__grid .fr-portfolio__content {
  text-align: center;
  position: static;
  max-width: 100%;
}

.fr-footer__two .fr-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.fr-footer.fr-footer__two p {
  margin: 35px 0;
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .fr-testimonial__single {
      margin: 0 25px;
  }
  .fr-testimonial__info .slick-prev.slick-arrow {
    left: -27px;
  }
  .fr-testimonial__info .slick-next.slick-arrow {
    right: -31px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .fr-navbar li,
  .fr-footer__navbar li {
    margin-right: 30px !important;
  }
  .fr-navbar li:last-child,
  .fr-footer__navbar li:last-child {
    margin-right: 0 !important;
  }
  .fr-hire__content h2 {
    font-size: 52px;
    line-height: 60px;
    margin: 40px 0 0;
  }
  .fr-hero h1 {
    font-size: 120px;
  }
  .fr-hero h1 span {
    font-size: 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .fr-portfolio__content {
    position: static;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .fr-portfolio__gallery {
    width: 85%;
  }
  .fr-portfolio__gallery-single:nth-child(5) {
    max-width: 55%;
  }
  .fr-portfolio__gallery-single:nth-child(5) img {
    height: 100%;
    object-fit: cover;
  }
  .fr-testimonial__single p {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 25px;
  }
  .fr-testimonial__single {
    border-radius: 50px;
    margin: 0 25px;
    padding: 35px 50px 30px;
  }
  .fr-testimonial__info .slick-prev.slick-arrow {
    left: -17px;
  }
  .fr-testimonial__info .slick-next.slick-arrow {
    right: -21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .fr-navbar li,
  .fr-footer__navbar li {
    margin-right: 18px !important;
  }
  .fr-navbar li:last-child,
  .fr-footer__navbar li:last-child {
    margin-right: 0 !important;
  }
  .fr-navbar li.last-menu-item {
    margin-left: 0px;
  }
  .fr-navbar li.last-menu-item a {
    font-size: 15px;
  }
  .fr-navbar li a,
  .fr-footer__navbar a {
    font-size: 17px;
  }
  nav.navbar > a {
    max-width: 130px;
  }
  .fr-hero h1 {
    font-size: 100px;
    line-height: 110px;
  }
  .fr-hero__bg-image {
    width: 50%;
    background-size: contain;
  }
  .fr-hero::before {
    left: -170px;
    top: -260px;
  }
  .fr-hero__thumbs img {
    max-width: 45%;
  }
  .fr-hire__left {
    margin-right: 100px;
  }
  .fr-hire__content h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 40px 0 0;
  }
  .fr-contact__content h2 {
    font-size: 60px;
  }
  .fr-services__info {
    margin: 0 -20px;
  }
  .fr-services__single {
    flex: 0 0 calc(33.333333% - 40px);
    margin: 0 20px;
  }
  .fr-testimonial {
    margin: 90px 0 100px;
  }
  .fr-welcome__content h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .fr-welcome__form-block h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .fr-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .fr-hero h1 {
    font-size: 49px;
    line-height: 1.3;
    letter-spacing: -0.49px;
    text-align: center;
  }
  .fr-hero h1 span {
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0;
  }
  .fr-hero::before {
    left: -40px;
    top: -78px;
    width: 172px;
    height: 172px;
  }
  .fr-hero .fr-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .fr-hero__bg-image {
    background-position: right top 0px;
    right: 30px;
    top: 145px;
    width: 253px;
    height: 253px;
    background-size: cover;
  }
  .fr-hero::after {
    width: 89px;
    height: 89px;
    top: 126px;
  }
  .fr-hero__footer {
    flex-direction: column;
    display: contents;
  }
  .fr-hero__thumbs {
    order: 1;
    margin: 200px 0 20px;
  }
  .fr-hero__form {
    order: 2;
  }
  .fr-hero p {
    order: 3;
    margin: 22px 0 35px;
  }
  .fr-hero__thumbs img {
    width: 40%;
  }
  .fr-hero {
    padding-bottom: 0;
  }
  .fr-hire {
    flex-direction: column;
    padding: 0 20px;
  }
  .fr-hire__left {
    order: 2;
    margin-right: 45px;
    margin-top: 27px;
  }
  .fr-hire__content {
    order: 1;
  }
  .fr-hire__content h2 {
    font-size: 35px;
    line-height: 40px;
    margin: 0;
  }
  .fr-hire::after {
    width: 246px;
    height: 246px;
    right: -60px;
  }
  .fr-hire__left::before {
    width: 170px;
    height: 194px;
    right: -46px;
  }
  .fr-services__heading h2 {
    font-size: 34px;
    padding-top: 25px;
  }
  .fr-services__info {
    margin: 0;
    flex-direction: column;
  }
  .fr-services__single {
    flex: 0 0 100%;
    margin: 0 0 30px 0;
  }
  .fr-services {
    padding-bottom: 20px;
  }
  .fr-portfolio__content,
  .fr-contact__info,
  .fr-welcome__info,
  .fr-portfolio__grid .fr-portfolio__gallery {
    flex-direction: column;
  }
  .fr-portfolio__icon-top {
    right: 20px;
    top: 22px;
    width: 134px;
    height: 134px;
    background-size: contain;
  }
  .fr-portfolio__icon-bottom {
    display: none;
  }
  .fr-portfolio__content h2,
  .fr-testimonial h2,
  .fr-contact__content h2 {
    font-size: 35px;
    margin-top: 0;
  }
  .fr-portfolio__content {
    position: static;
    text-align: center;
    margin-bottom: 20px;
  }
  .fr-portfolio__gallery {
    width: 100%;
    float: none;
    max-width: 100%;
    margin: 0;
    padding: 0 12.5px;
  }
  .fr-portfolio__gallery-single {
    flex: 0 0 50%;
    text-align: initial;
  }
  .fr-portfolio__gallery-single:nth-child(1) {
    flex: 0 0 50%;
    padding-left: 7.5px;
    order: 1;
  }
  .fr-portfolio__gallery-single:nth-child(5) {
    order: 2;
  }
  .fr-portfolio__gallery-single:nth-child(2) {
    order: 3;
  }
  .fr-portfolio__gallery-single:nth-child(3) {
    order: 4;
  }
  .fr-portfolio__gallery-single:nth-child(4) {
    order: 5;
  }
  .fr-portfolio__gallery-single img {
    height: 100% !important;
  }
  .fr-testimonial {
    margin: 60px 0;
  }
  .fr-testimonial::after {
    right: -246px;
    top: -342px;
  }
  .fr-testimonial__single {
    border-radius: 50px;
    padding: 30px 20px 20px;
    margin: 0 15px;
  }
  .fr-testimonial__single p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .fr-testimonial__single span {
    font-size: 16px;
  }
  .fr-testimonial__single::after {
    left: 40px;
    bottom: -39px;
    border-top: 40px solid #009145;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
  }
  .fr-testimonial__info::before {
    left: -100px;
    bottom: -40px;
  }
  .fr-testimonial__info .slick-prev.slick-arrow {
    left: -25px;
  }
  .fr-testimonial__info .slick-next.slick-arrow {
    right: -28px;
  }
  .fr-contact {
    background-position: center bottom;
    background-size: initial;
    padding: 35px 0 24px;
  }
  .fr-contact__content h2 {
    text-align: center;
  }
  .fr-contact__form-block {
    padding: 40px 20px;
  }
  .fr-contact__info {
    margin: 0;
  }
  .fr-contact__content {
    display: contents;
  }
  .fr-contact__content img {
    order: 4;
    margin-top: 24px;
  }
  .fr-portfolio .fr-container {
    position: static;
  }
  .fr-portfolio__content a {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
  }
  .fr-portfolio {
    padding: 40px 0 100px;
  }
  .fr-welcome__content h1 {
    font-size: 31px;
    line-height: 34px;
    padding-top: 0;
    text-align: center;
  }
  .fr-welcome__content a {
    display: none;
  }
  .fr-welcome__form {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .fr-welcome__form-block h2 {
    font-size: 25px;
  }
  .fr-portfolio__grid .fr-portfolio__content h2 {
    margin-top: 0;
  }
  .fr-portfolio__grid .fr-portfolio__gallery .fr-portfolio__gallery-single {
    flex: 0 0 100%;
    width: 100%;
  }
  .fr-portfolio__grid .fr-portfolio__content a {
    position: static;
    transform: initial;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    margin: 0 5px;
  }
  .fr-portfolio.fr-portfolio__grid {
    padding-bottom: 44px;
  }
  .fr-portfolio__grid .fr-portfolio__gallery {
    padding: 0;
    margin: 40px 0;
  }
  .fr-footer__two .fr-container {
    flex-direction: column-reverse;
  }
  .fr-footer.fr-footer__two p {
    margin: 15px 0 25px;
  }
  .fr-footer__nav {
    margin-top: 25px;
  }
  .fr-footer__navbar li {
    margin-right: 20px;
  }
  .fr-footer__navbar li:last-child {
    margin-right: 0;
  }
  .fr-navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .fr-navbar li {
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  .fr-navbar li.last-menu-item {
    margin-left: 0;
  }
  .navbar-collapse.is-active {
    left: 0;
    justify-content: flex-start;
  }
  .navbar img {
    height: 70px;
    margin-left: -50%;
  }
  .fr-header .navbar {
    flex-direction: row-reverse;
  }
  .navbar-collapse {
    position: absolute;
    left: -101%;
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #fff;
    padding: 30px 30px 20px 20px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 1000;
  }
}

.vc_row.wpb_row.vc_row-fluid.vc_custom_1641891431810 {
    overflow: visible;
}